vrrp_instance FRONTEND {
  # We don't own the IP address, which allows manual triggering of IP change when machine comes UP
  # see man keepalived.conf.
  state {% if is_master %}MASTER{% else %}BACKUP{% endif %}
  priority {% if is_master %}100{% else %}90{% endif %}
  #nopreempt

  interface ens18
  virtual_router_id 70
  advert_int 1
  
  authentication {
    auth_type PASS
    auth_pass {{ keepalived_pass }}
  }

  virtual_ipaddress {
        {{ virtual_ip }}
  }
}